<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>this our awesome team page</h1>
    <header>
      <nav>
        <ul>
          <li><a href=''></a></li>
          <li><a href=''></a></li>
          <li><a href=''></a></li>
        </ul>
      </nav>
      </nav>
    </header>
    <h3>Dynamic content start here</h3>
    <hr>
    {{!-- <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p> --}}
    {{!-- <h1>Express</h1>
    <p>Welcome to Express</p>> --}}


    {{{body}}}

    <hr>
    <h3>dynamic content ends here</h3>
    <footer>footer content here</footer>
  </body>
</html>
