<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>this our awesome team page</h1>
    <header>
      <nav>
        <ul>
          <li>
            <a href='/team/justin'>Justin</a></li>
          <li>
            <a href='/team/joe'>Joe</a></li>
          <li>
            <a href='/team/emre'>Emre</a></li>
        </ul>

      </nav>
      </nav>
    </header>
    <h3>Dynamic content start here</h3>
    <hr>
    {{!-- <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p> --}}
    {{!-- <h1>Express</h1>
    <p>Welcome to Express</p>> --}}


    {{{body}}}

    <hr>
    <h3>dynamic content ends here</h3>
    <footer>footer content here</footer>
    <script src="/js/main.js"></script>
  </body>
</html>
