<section>
    <nav class="navbar">
        <ul>
            <li>
                <a href='/team/justin'>Justin</a></li>
            <li>
                <a href='/team/joe'>Joe</a></li>
            <li>
                <a href='/team/emre'>Emre</a>
            
            </li>
        </ul>
    </nav>
</section>